<div class="box">
  <div class="main">
    <div class="parent">
      <div class="div1">
        <button>
          <a href="https://github.com/NotAUserName0">GITHUB</a>
        </button>
      </div>
      <div class="div2">
        <button>
          <a href="https://www.linkedin.com/in/fermin-jiménez-garcía-648b07185/">LINKEDIN</a>
        </button>
      </div>
      <div class="div3">
        <button>
          <a href="https://twitter.com/thisIsntUsrName">TWITTER</a>
        </button>
      </div>
    </div>
  </div>

  <div>
    a
  </div>
</div>
