<div class="box">
  <section class="images">
    <img class="pro1" (mouseenter)="enter(1)" (mouseleave)="exit(1)"> <!-- CRUD PHP API-->
    <img class="pro2" (mouseenter)="enter(2)" (mouseleave)="exit(2)"> <!-- CRUD ANGULAR/PHP-->
    <img class="pro3" (mouseenter)="enter(3)" (mouseleave)="exit(3)"> <!-- CRUD GO API-->
    <img class="pro4" (mouseenter)="enter(4)" (mouseleave)="exit(4)"> <!-- CRUD ANGULAR/GO-->
  </section>

  <section class="des">
    <div class="api-php" id="p1">
      <span>
        <p>Title 1</p>
        <p>Description</p>
      </span>
    </div>

    <div class="ang-php" id="p2">
      <span>
        <p>Title 2</p>
        <p>Description</p>
      </span>
    </div>

    <div class="api-go" id="p3">
      <span>
        <p>Title 3</p>
        <p>Description</p>
      </span>
    </div>

    <div class="ang-go" id="p4">
      <span>
        <p>Title 4</p>
        <p>Description</p>
      </span>
    </div>
  </section>
</div>
