<section class="header" id="home">
  <app-navbar></app-navbar>
  <div class="box">
    <span>
      <p class="pres1">Hi, my name is Fermin</p>
      <p class="pres2">I'm a web developer!</p>
      <small>"If you can imagine it, you can program it!"</small>
    </span>
    <a href="#about" class="icon">
      <mat-icon fontIcon="keyboard_arrow_down"></mat-icon>
    </a>
  </div>
</section>

<app-about id="about"></app-about>
<app-proyects id="proyects"></app-proyects>
<app-faq id="faq"></app-faq>




