<div class="box">

  <section class="about">
    <img src="" alt="" class="user">
    <div class="desc">
      <p class="pres1">About me</p>
      <p class="pres2">
        I'm a student of computer systems engineer with 23 years old, looking to improve my skills on frontend, backend
        and design.
        I have developed my skills thanks to sites like Coursera x Google, Udemy, Platzi and also YouTube.
        I also have certificates in Information Technology from Google and programming languages ​​such as
        Angular, Java, PHP and Web Development.

        You can check out <a href="#proyects">my work</a>, they are simple, but they demonstrate knowledge of the
        subject.
      </p>
      <div class="extra">

        <div class="hobbie">
          <p class="hh">My hobbies are:</p>
          <ul>
            <li>Music</li>
            <li>Photography</li>
            <li>Videogames</li>
            <li>Movies, Series and Anime</li>
          </ul>
        </div>
        
        <div class="program">
          <p class="hh">My skills are:</p>
          <ul class="skill-list">
            <div class="listA">
              <li>Angular</li>
              <li>PHP</li>
              <li>GO</li>
              <li>GIT</li>
            </div>
            <div class="listB">
              <li>SQL</li>
              <li>FIGMA</li>
              <li>BOOTSTRAP</li>
              <li>ANGULAR MATERIAL</li>
            </div>
          </ul>
        </div>
      </div>
    </div>
  </section>

</div>
