.box{
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 56px; /* tamaño de navbar */
}

.about{
  width:90%;
  height: 80%;
  bottom: 10px;
  border: 1px solid black;
  display: flex;
}

.desc{
  width: 100%;
}

.user{
  width: 400px;
  height: 100%;
}

.extra{
  display: flex;
  margin-left: 50px;
  margin-top: 20px;
}

.pres1{
  font-size: 60px;
  font-weight: 400;
  margin: 0px 0px 0px 50px; /* up right down left */

}

.pres2{
  width: 700px;
  font-size: 20px;
  font-weight: 200;
  margin: 0px 50px 0px 50px;
  text-align: justify;
  word-wrap: break-word;
  height: auto;
}

.pres3{
  width: 700px;
  font-size: 15px;
  font-weight: 200;
  margin: 20px 50px 0px 50px;
  text-align: justify;
  word-wrap: break-word;
  height: auto;
}

.hh{
  font-weight: 500;
}

.skill-list{
  display: flex;
  align-items: center;
  justify-content: center;
}

.listA{
  margin-right: 60px;
}

.hobbie{
  margin-right: 60px;
}

a{
  text-decoration: none;
  text-decoration-color: rgb(218, 165, 243);
  color: rgb(218, 165, 243);
  font-weight: 600;
}

@media screen and (min-width: 375px) and (max-width: 719px) {

  .about{
    display: none;
  }

  .about-phone{
    display: block;
    width: 90%;
    height: 800px;
    text-align: center;
  }

  .user{
    width: 200px;
    height: 200px;
  }

  .pres1{
    font-size: 20px;
    width: 100%;
    margin: 5px 0px 5px 0px;
    font-weight: 600;
  }

  .pres2{
    width: 90%;
    font-size: 15px;
    font-weight: 200;
    margin: 10px auto 10px auto;
    text-align: justify;
    word-wrap: break-word;
    height: auto;
  }

  .program{

    width: 90%;
    height: auto;
    margin: 40px auto 20px auto;
  }

  .parent {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-column-gap: 25px;
    grid-row-gap: 16px;
    }

    button{
      border: 1px solid rgb(218, 165, 243);
      border-radius: 5px;
      background-color: rgb(218, 165, 243);
      padding: 5px;
      cursor:default;
    }

    .div1 {
      grid-area: 1 / 1 / 2 / 2;
      transition: .5s, color .10s;
        -webkit-transition: .5s, color .10s;
        -moz-transition: .5s, color .10s;
    }
    .div1:hover{
      transform: rotateX(360deg);
        -webkit-transform: rotateX(360deg);
        -moz-transform: rotateX(360deg);
    }
    .div2 {
      grid-area: 1 / 3 / 2 / 4;
      transition: .5s, color .10s;
        -webkit-transition: .5s, color .10s;
        -moz-transition: .5s, color .10s;
    }
    .div2:hover{
      transform: rotateX(360deg);
        -webkit-transform: rotateX(360deg);
        -moz-transform: rotateX(360deg);
    }
    .div3 {
      grid-area: 2 / 2 / 3 / 3;
      transition: .5s, color .10s;
        -webkit-transition: .5s, color .10s;
        -moz-transition: .5s, color .10s;
    }
    .div3:hover{
      transform: rotateX(360deg);
        -webkit-transform: rotateX(360deg);
        -moz-transform: rotateX(360deg);
    }
    .div4 {
      grid-area: 3 / 1 / 4 / 2;
      transition: .5s, color .10s;
        -webkit-transition: .5s, color .10s;
        -moz-transition: .5s, color .10s;
    }
    .div4:hover{
      transform: rotateX(360deg);
        -webkit-transform: rotateX(360deg);
        -moz-transform: rotateX(360deg);
    }
    .div5 {
      grid-area: 3 / 3 / 4 / 4;
      transition: .5s, color .10s;
        -webkit-transition: .5s, color .10s;
        -moz-transition: .5s, color .10s;
    }
    .div5:hover{
      transform: rotateX(360deg);
        -webkit-transform: rotateX(360deg);
        -moz-transform: rotateX(360deg);
    }
    .div6 {
      grid-area: 4 / 2 / 5 / 3;
      transition: .5s, color .10s;
        -webkit-transition: .5s, color .10s;
        -moz-transition: .5s, color .10s;
    }
    .div6:hover{
      transform: rotateX(360deg);
        -webkit-transform: rotateX(360deg);
        -moz-transform: rotateX(360deg);
    }
    .div7 {
      grid-area: 5 / 1 / 6 / 2;
      transition: .5s, color .10s;
        -webkit-transition: .5s, color .10s;
        -moz-transition: .5s, color .10s;
    }
    .div7:hover{
      transform: rotateX(360deg);
        -webkit-transform: rotateX(360deg);
        -moz-transform: rotateX(360deg);
    }
    .div8 {
      grid-area: 5 / 3 / 6 / 4;
      transition: .5s, color .10s;
        -webkit-transition: .5s, color .10s;
        -moz-transition: .5s, color .10s;
    }
    .div8:hover{
      transform: rotateX(360deg);
        -webkit-transform: rotateX(360deg);
        -moz-transform: rotateX(360deg);
    }

}

@media screen and (min-width: 720px) and (max-width: 1079px){

  .about{
    display: none;
  }

  .about-phone{
    display: block;
    width: 90%;
    height: 800px;
    text-align: center;
  }

  .user{
    width: 200px;
    height: 200px;
  }

  .pres1{
    font-size: 20px;
    width: 100%;
    margin: 5px 0px 5px 0px;
    font-weight: 600;
  }

  .pres2{
    width: 90%;
    font-size: 15px;
    font-weight: 200;
    margin: 10px auto 10px auto;
    text-align: justify;
    word-wrap: break-word;
    height: auto;
  }

  .program{

    width: 90%;
    height: auto;
    margin: 60px auto 20px auto;
  }

  .parent {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-column-gap: 25px;
    grid-row-gap: 16px;
    }

    button{
      border: 1px solid rgb(218, 165, 243);
      border-radius: 5px;
      background-color: rgb(218, 165, 243);
      padding: 5px;
      cursor:default;
    }

    .div1 {
      grid-area: 1 / 1 / 2 / 2;
      transition: .5s, color .10s;
        -webkit-transition: .5s, color .10s;
        -moz-transition: .5s, color .10s;
    }
    .div1:hover{
      transform: rotateX(360deg);
        -webkit-transform: rotateX(360deg);
        -moz-transform: rotateX(360deg);
    }
    .div2 {
      grid-area: 1 / 3 / 2 / 4;
      transition: .5s, color .10s;
        -webkit-transition: .5s, color .10s;
        -moz-transition: .5s, color .10s;
    }
    .div2:hover{
      transform: rotateX(360deg);
        -webkit-transform: rotateX(360deg);
        -moz-transform: rotateX(360deg);
    }
    .div3 {
      grid-area: 2 / 2 / 3 / 3;
      transition: .5s, color .10s;
        -webkit-transition: .5s, color .10s;
        -moz-transition: .5s, color .10s;
    }
    .div3:hover{
      transform: rotateX(360deg);
        -webkit-transform: rotateX(360deg);
        -moz-transform: rotateX(360deg);
    }
    .div4 {
      grid-area: 3 / 1 / 4 / 2;
      transition: .5s, color .10s;
        -webkit-transition: .5s, color .10s;
        -moz-transition: .5s, color .10s;
    }
    .div4:hover{
      transform: rotateX(360deg);
        -webkit-transform: rotateX(360deg);
        -moz-transform: rotateX(360deg);
    }
    .div5 {
      grid-area: 3 / 3 / 4 / 4;
      transition: .5s, color .10s;
        -webkit-transition: .5s, color .10s;
        -moz-transition: .5s, color .10s;
    }
    .div5:hover{
      transform: rotateX(360deg);
        -webkit-transform: rotateX(360deg);
        -moz-transform: rotateX(360deg);
    }
    .div6 {
      grid-area: 4 / 2 / 5 / 3;
      transition: .5s, color .10s;
        -webkit-transition: .5s, color .10s;
        -moz-transition: .5s, color .10s;
    }
    .div6:hover{
      transform: rotateX(360deg);
        -webkit-transform: rotateX(360deg);
        -moz-transform: rotateX(360deg);
    }
    .div7 {
      grid-area: 5 / 1 / 6 / 2;
      transition: .5s, color .10s;
        -webkit-transition: .5s, color .10s;
        -moz-transition: .5s, color .10s;
    }
    .div7:hover{
      transform: rotateX(360deg);
        -webkit-transform: rotateX(360deg);
        -moz-transform: rotateX(360deg);
    }
    .div8 {
      grid-area: 5 / 3 / 6 / 4;
      transition: .5s, color .10s;
        -webkit-transition: .5s, color .10s;
        -moz-transition: .5s, color .10s;
    }
    .div8:hover{
      transform: rotateX(360deg);
        -webkit-transform: rotateX(360deg);
        -moz-transform: rotateX(360deg);
    }
}

@media screen and (min-width: 1080px) and (max-width: 1300px){
  .about-phone{
    display: none;
  }

  .user{
    width: 300px;
    height: 300px;
    margin: auto 0px auto 0px;
  }

  .desc{
    margin: auto 0px auto 0px;
  }

  .pres2{
    width: 600px;
  }

  .parent {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-column-gap: 25px;
    grid-row-gap: 16px;
    }

    button{
      border: 1px solid rgb(218, 165, 243);
      border-radius: 5px;
      background-color: rgb(218, 165, 243);
      padding: 5px;
      cursor:default;
    }

    .div1 {
      grid-area: 1 / 1 / 2 / 2;
      transition: .5s, color .10s;
        -webkit-transition: .5s, color .10s;
        -moz-transition: .5s, color .10s;
    }
    .div1:hover{
      transform: rotateX(360deg);
        -webkit-transform: rotateX(360deg);
        -moz-transform: rotateX(360deg);
    }
    .div2 {
      grid-area: 1 / 3 / 2 / 4;
      transition: .5s, color .10s;
        -webkit-transition: .5s, color .10s;
        -moz-transition: .5s, color .10s;
    }
    .div2:hover{
      transform: rotateX(360deg);
        -webkit-transform: rotateX(360deg);
        -moz-transform: rotateX(360deg);
    }
    .div3 {
      grid-area: 2 / 2 / 3 / 3;
      transition: .5s, color .10s;
        -webkit-transition: .5s, color .10s;
        -moz-transition: .5s, color .10s;
    }
    .div3:hover{
      transform: rotateX(360deg);
        -webkit-transform: rotateX(360deg);
        -moz-transform: rotateX(360deg);
    }
    .div4 {
      grid-area: 3 / 1 / 4 / 2;
      transition: .5s, color .10s;
        -webkit-transition: .5s, color .10s;
        -moz-transition: .5s, color .10s;
    }
    .div4:hover{
      transform: rotateX(360deg);
        -webkit-transform: rotateX(360deg);
        -moz-transform: rotateX(360deg);
    }
    .div5 {
      grid-area: 3 / 3 / 4 / 4;
      transition: .5s, color .10s;
        -webkit-transition: .5s, color .10s;
        -moz-transition: .5s, color .10s;
    }
    .div5:hover{
      transform: rotateX(360deg);
        -webkit-transform: rotateX(360deg);
        -moz-transform: rotateX(360deg);
    }
    .div6 {
      grid-area: 4 / 2 / 5 / 3;
      transition: .5s, color .10s;
        -webkit-transition: .5s, color .10s;
        -moz-transition: .5s, color .10s;
    }
    .div6:hover{
      transform: rotateX(360deg);
        -webkit-transform: rotateX(360deg);
        -moz-transform: rotateX(360deg);
    }
    .div7 {
      grid-area: 5 / 1 / 6 / 2;
      transition: .5s, color .10s;
        -webkit-transition: .5s, color .10s;
        -moz-transition: .5s, color .10s;
    }
    .div7:hover{
      transform: rotateX(360deg);
        -webkit-transform: rotateX(360deg);
        -moz-transform: rotateX(360deg);
    }
    .div8 {
      grid-area: 5 / 3 / 6 / 4;
      transition: .5s, color .10s;
        -webkit-transition: .5s, color .10s;
        -moz-transition: .5s, color .10s;
    }
    .div8:hover{
      transform: rotateX(360deg);
        -webkit-transform: rotateX(360deg);
        -moz-transform: rotateX(360deg);
    }
}
