<section class="navegation">
  <nav class="navbar navbar-expand-lg fixed-top bg-white">
    <div class="container-fluid ">
      <a class="navbar-brand" href="#"></a>
      <button class="navbar-toggler " type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ms-auto">
          <li class="nav-item">
            <mat-icon fontIcon="home"></mat-icon>
            <a class="nav-link" href="#home">Home</a>
          </li>
          <li class="nav-item">
            <mat-icon fontIcon="person_search"></mat-icon>
            <a class="nav-link" href="#about">About Me</a>
          </li>
          <li class="nav-item">
            <mat-icon fontIcon="folder_open"></mat-icon>
            <a class="nav-link" href="#proyects">Proyects</a>
          </li>
          <li class="nav-item">
            <mat-icon fontIcon="contact_support"></mat-icon>
            <a class="nav-link" href="#faq">Contact Me</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</section>
