.nav-item{
  display: flex;
  margin-right: 10px;
  justify-content: flex-end;
  margin-top: 10px;
}

mat-icon{
  color: rgb(218, 165, 243);
  margin-top: auto;
  margin-bottom: auto;
  margin-right: 10px;
}

a{
  position: relative;
  cursor: pointer;
}

/* GREAT UNDERLINE EFFECT */
a::after{
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: rgb(218, 165, 243);
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

a:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

/*NAV EFFECT*/

.navbar-toggler:focus{
  border: 1px solid rgb(218, 165, 243) !important;
  box-shadow: none;
}

@media screen and (min-width: 375px) and (max-width: 719px) {
  .navegation{
      display: none;
  }

  .phone{
      display: block;
  }

  .nav-link{
    text-align: center;
  }

  .nav-item{
    display: flex;
    justify-content: flex-start;
  }

  .offcanvas{
    --bs-offcanvas-width: 200px;
  }

  .offcanvas-body{
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

@media screen and (min-width: 720px) and (max-width: 1440px) {
  .navegation{
      display: block;
  }

  .phone{
      display: none;
  }
}

@media screen and (min-width: 200px) and (max-width: 374px){
  .navegation{
    display: none;
}

.phone{
    display: block;
}

.nav-link{
  text-align: center;
}

.nav-item{
  display: flex;
  justify-content: center;
  align-items: center;
}

.offcanvas{
  --bs-offcanvas-width: 180px;
}

.offcanvas-body{
  display: flex;
  align-items: center;
  justify-content: center;
}
}
