<nav>
  <p class="principal">PORTAFOLIO</p>

  <div class="opc">
    <p class="fn" (click)="mostrarMenu()" id="menu_btn">Mis proyectos</p>
    <p class="separador">|</p>
    <div class="menu" id="menu">
        <a href="#red" class="under underline_animation">Red Social</a>
        <a href="#jwt" class="under underline_animation">JWT</a>
        <a href="#crud" class="under underline_animation">CRUD</a>
        <a href="#chat" class="under underline_animation">CHAT</a>
        <a href="#ot" class="under underline_animation">OTROS</a>
    </div>
    <a href="#redes" class="fn">Contactame</a>
  </div>
  
</nav>

<div class="user">
  <div class="profile"></div>
  <div class="who">
    <p class="title">¿Quien soy?</p>
    <p class="bibliografia">
      Mi nombre es Fermin Alejandro Jimenez Garcia, soy egresado del CECyT No. 3 como Técnico en Computación.
      Y actualmente estoy en mi último año de la carrera de Ingeniería en Sistemas Computacionales en la Escuela
      Superior de Cómputo(ESCOM)
      ambas en el Instituto Politécnico Nacional
      Mis paciones son la música, deporte, la fotografia y por supuesto la programación y el diseño, en estas últimas de
      estas últimas
      resalto por la variedad de cursos que he realizado en plataformas como Udemy o Coursera, en la que destacan dos
      cursos
      de Google, uno de IT y otro de UX/UI.
      Actualmente estoy aprendiendo las tecnologías MEAN las cuales me han encantado pues para mí fueron fáciles de
      entender
      aunque mi camino es largo me estoy preparando para lo que venga en mi vida personal y mi vida profesional.
      Estoy emocionado por el camino que la programación está abriendo con pasión para mí.
      Puedes revisar mis trabajos en esta misma página. Disfruta mi portafolio.
    </p>
    <a href="#projects" class="promo">Mis proyectos</a>
  </div>
</div>

<div class="projects" id="projects">
  <div class="section" id="red">
    <div class="img one"></div>
    <div class="descripcion">
      <p class="title">Red Social</p>
      <p class="project-description">
        Este proyecto es una red social pequeña, en la cual se puede publicar entradas, comentar, modificar usuario,
        eliminar entradas, comentarios y secciones.
        Se usó PHP, MySQL, HTML, CSS y JavaScript.

        El patrón de diseño usado en este provecto es MVC (Modelo-Vista-Controlador).

        Gracias a este proyecto logré entender el patrón de diseño MVC, manejo de datos obtenidos por una base de datos,
        así como Autenticación de usuarios.
      </p>
      <small class="links">
        <span>
          <a href="https://github.com/NotAUserName0/Blog" target="_blank">Aplicacion</a>
          <i class="material-icons-outlined anim">arrow_forward</i>
        </span>
      </small>
    </div>
  </div> <!-- Red social -->
  <div class="section" id="jwt">
    <div class="descripcion">
      <p class="title">Practicas de JWT Token</p>
      <p class="project-description">
        Estos dos proyectos son completamente de back-end, probados en Postman, para la práctica sobre peticiones http.
        Estas API tienen varios endpoints que funcionan con la base de datos en MySQL, reciben datos por body y
        manipulan headers para posteriormente manipular un Token
        JWT, es decir, crea, refresca, obtiene y verifica el token para ser utilizado en un middleware a futuras
        aplicaciones
      </p>
      <small class="links">
        <span>
          <a href="https://github.com/NotAUserName0/GolangJWT" target="_blank">Golang</a>
          <i class="material-icons-outlined anim">arrow_forward</i>
        </span>

        <span>
          <a href="https://github.com/NotAUserName0/LaravelJWT" target="_blank">Laravel</a>
          <i class="material-icons-outlined anim">arrow_forward</i>
        </span>
      </small>
    </div>
    <div class="img two"></div>
  </div> <!-- JWT TOKEN -->
  <div class="section" id="crud">
    <div class="img three"></div>
    <div class="descripcion">
      <p class="title">CRUD</p>
      <p class="project-description">
        Esta es una serie de proyectos donde realice varias API Rest, en las que se pueden hacer las consultas POST,
        GET, PUT y DELETE, con sus distintos http handlers y todo con MySQL.
        Donde algunas de estas estan protegidas por un middleware que verifica un token JWT(JSON Web Token)
        Con estos proyectos formé un conocimiento sobre peticiones HTTP, middlewares, manejar el CORS, y la división
        entre Front y Back End
        En algunos de ellos implemente funciones para manejar las solicitudes en tiempo real y agrege librerias para
        alertas(SweetAlert 2)
      </p>
      <small class="links">
        <table>
          <tbody>
            <tr>
              <th>Angular - PHP</th>
              <th>Angular - Golang</th>
              <th>Angular - Laravel</th>
            </tr>
            <tr>
              <td>
                <div class="table-options">
                  <a href="https://github.com/NotAUserName0/crud-angular-14" target="_blank">Frontend</a>
                  <i class="material-icons-outlined table-anim">arrow_forward</i>
                </div>
              </td>
              <td>
                <div class="table-options">
                  <a href="https://github.com/NotAUserName0/AngularGoFront" target="_blank">Frontend</a>
                  <i class="material-icons-outlined table-anim">arrow_forward</i>
                </div>
              </td>
              <td>
                <div class="table-options">
                  <a href="https://github.com/NotAUserName0/AngularCrudLaravel" target="_blank">Frontend</a>
                  <i class="material-icons-outlined table-anim">arrow_forward</i>
                </div>
              </td>
            </tr>
            <tr>
              <td>
                <div class="table-options">
                  <a href="https://github.com/NotAUserName0/api-crud-angular-14" target="_blank">Backend</a>
                  <i class="material-icons-outlined table-anim">arrow_forward</i>
                </div>
              </td>
              <td>
                <div class="table-options">
                  <a href="https://github.com/NotAUserName0/CrudGolang" target="_blank">Backend</a>
                  <i class="material-icons-outlined table-anim">arrow_forward</i>
                </div>
              </td>
              <td>
                <div class="table-options">
                  <a href="https://github.com/NotAUserName0/CrudLaravel" target="_blank">Backend</a>
                  <i class="material-icons-outlined table-anim">arrow_forward</i>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </small>
    </div>
  </div> <!-- CRUDS -->
  <div class="section" id="chat">
    <div class="descripcion">
      <p class="title">Chat Realtime</p>
      <p class="project-description">
        Este es mi segundo proyecto ambicioso el cual es un chat pero en tiempo real, es decir, que al enviar un mensaje
        se ve reflejado al instante y sin recargar la pagina en ambos clientes.
        No solo eso, si no que tambien tiene un sistema el cual muestra a los usuarios(online,away,offline), asi como un
        pequeño sistema de 'amigos'
        el cual permite crear estan interacciones.
        Este proyecto esta en una solucion MEAN(MongoDB, Express, Angular, NodeJs), con un patron de diseño
        MVC(Modelo-Vista-Controlador).
        Lo que hace funcionar a esta aplicacion es que integro Socket.io para las actualizaciones en tiempo real y las
        comunicaciones en el chat, para separarlas de la conexion inicial
        En esta tambien concreto mis conocimientos en Autenticacion y Authorizacion con ayuda de un token JWT en el
        middleware de las peticiones.
      </p>
      <small class="links">
        <span>
          <a href="https://github.com/NotAUserName0/chatApp" target="_blank">Frontend</a>
          <i class="material-icons-outlined anim">arrow_forward</i>
        </span>

        <span>
          <a href="https://github.com/NotAUserName0/expressAPI" target="_blank">Backend</a>
          <i class="material-icons-outlined anim">arrow_forward</i>
        </span>
      </small>
    </div>
    <div class="img four"></div>
  </div> <!-- Chat real time -->
  <div class="section" id="ot">
    <div class="img five"></div>
    <div class="descripcion">
      <p class="title">Proximamente...</p>
      <p class="project-description">
        Estoy preparando mas proyectos como un login con credenciales de google o facebook, una aplicacion de e-commerce
        con distintas formas de pago
        ,algunos gestores de inventarios, paginas para citas, pequeños puntos de venta, para seguir practicando, buscar
        nuevas tecnologias, mejorar mis diseños
        y emprender mi camino a convertirme en un gran diseñador Web<br>
        <small>Nota: Si deseas correr los programas que no son de un framework puedes bajar la base de datos de mi
          Github, si es con framework, solo basat con crear la base de datos, sin tablas o colecciones, en los archivos
          '.env' o 'bd.extension' puedes confirgurar a el nombre de tu base de datos </small>
        <small>Importante: Puedes usar el codigo que veas como fuente de aprendizaje mas no para generar algo
          mas!!!!</small>
      </p>
      <h1>Gracias</h1>
    </div>
  </div> <!-- Proximamente -->
</div>

<div class="redes" id="redes">
  <div class="cuadro">
    <a href="https://github.com/NotAUserName0" target="_blank"><i class="fa-brands fa-github fa-5x" style="color: white;"></i></a>
    <a href="https://www.instagram.com/this_is_link_" target="_blank"><i class="fa-brands fa-instagram fa-5x" style="color: white;"></i></a>
    <a href="https://www.linkedin.com/in/fermin-jiménez-garcía-648b07185" target="_blank"><i class="fa-brands fa-linkedin fa-5x" style="color: white;"></i></a>
  </div>
</div>
